body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
}
#wins{
	background:#CCC;
	border:#000 1px dotted;
	padding:10px;
	width: 50px;
	height: 10px;
	margin:0px auto;
}
#memory_board{
	background:#4f85bb;
	border:#999 1px solid;
	width:800px;
	height:540px;
	padding:24px;
	margin:0px auto;
}
#memory_board > div{
	background: url('../images/tile_bg.jpg') no-repeat;
	border:#000 1px solid;
	width:71px;
	height:71px;
	float:left;
	margin:10px;
	padding:20px;
	font-size:22px;
	text-align:center;
}
button {
	display: table;
	margin: 10px auto;
}